@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif !important;
    font-size: 14px !important;
}

tr {
    text-align: center;
    vertical-align: middle;
}

.App {
    background-color: #242424;
}

.contenedor {
    min-height: calc(100vh - 110px);
}


@media screen and (min-width: 768px) {
    body {
        font-size: 16px !important;
    }

    .contenedor {
        min-height: calc(100vh - 128px);
    }

}